<div class="layout">
  <div class="header">
    <span class="saving-icon">
      <input type="checkbox" [checked]="saved">
    </span>
    <input class="title-input" [(ngModel)]="jot.meta.title" type="text" />
    <div class="date-modified-display">
      Modified {{ jot.meta.dateModified | relativeTime }}
    </div>
    <div class="tmp-toggle-btn-box">
      <button class="tmp-toggle-btn" [class.checked]="isTemporary" (click)="toggleTemporary()">
        TMP
      </button>
    </div>
  </div>
  <md-editor (idle)="hasBeenIdle()" [(ngModel)]="jot.content.body"></md-editor>
</div>
