.rt-editor-input {
  padding: 16px 8px 16px 24px;
  box-sizing: border-box;
  height: calc(100vh - 70px);
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 14px;
  line-height: 1.5;

  &:focus {
    outline: none;
  }

  &::-webkit-scrollbar {
    background: #333333;
    width: 8px;
    padding: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 4px;
  }

  a[href] {
    color: mediumaquamarine;
  }
}
