@import "variables";

.rt-editor-input {
  padding: 16px 8px 16px 32px;
  box-sizing: border-box;
  height: calc(100vh - 70px);
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 14px;
  line-height: 1.5;

  &:focus {
    outline: none;
  }

  &::-webkit-scrollbar {
    background: $bgColor;
    width: 8px;
    padding: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: $textColor2;
    border-radius: 4px;
  }

  a[href] {
    color: $yellow;
  }
}

[contentEditable=true]:empty:before{
  content:attr(data-placeholder);
  color: $textColor1;
  font-style:italic;
}
