.header {
  height: 40px;
  display: flex;
  align-items: center;
}

.saving-icon {
  padding-right: 4px;
  pointer-events: none;
}

.header input[type=text] {
  width: 100%; height: 100%;
  background: none;
  box-sizing: border-box;
  border: none;
  font-size: 12pt;
  border: 0;
  border-bottom: 1px solid transparent;
  font-family: 'Cousine', monospace;
  font-weight: 700;

  &:focus {
    outline: none;
    border-color: rgba(255,255,255,0.2);
  }
}
