@import "buttons";

.recent-jots--container {
  position: fixed;
  left: 0; top: 0;
  background: transparent;
  height: 100vh;
  width: 100vw;
  display: none;
  align-items: center;
  justify-content: center;
}

.recent-jots--container.shown {
  display: flex;
  background: rgba(0,0,0,0.1);
  backdrop-filter: blur(10px);
}

.recent-jots--dialog {
  background: #333333;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 10px 50px rgba(0,0,0,0.2);
  width: 450px;
  padding: 8px 0;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.recent-jots--search {
  padding: 0 8px;
}

.recent-jots--search-input {
  background: transparent;
  border: 1px solid rgba(0,0,0,0.25);
  padding: 8px 16px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;

  &:focus {
    outline: none;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
  }
}

.recent-jots--list {
  //padding-top: 8px;
}

.recent-jots--list-item {
  padding: 8px;
  cursor: pointer;
  position: relative;

  &:hover {
    .recent-jots--list-item--title {
      color: mediumaquamarine;
    }

    background: rgba(0, 0, 0, 0.1);
  }
}

.recent-jots--list-item--delete-btn {
  color: crimson;
  position: absolute;
  background: transparent;
}

.recent-jots--list-item--title {
  font-weight: 700;
  margin-bottom: 4px;
  line-height: 1;
}

.recent-jots--list-item--body {
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
}

.recent-jots--list-item--date-modified {
  color: #888888;
  font-size: 12px;
}

.recent-jots--title-bar {
  display: flex;
  padding: 0 8px;
  margin-bottom: 8px;
  justify-content: space-between;
  align-items: center;
}

.recent-jots--title-bar--title {
  font-weight: bold;
  font-size: 14px;
}

.recent-jots--title-bar--buttons--close {
  width: 24px; height: 24px;
  @extend .btn-icon;
}

.recent-jots--search {
  display: none;
}

.recent-jots--list-item--delete-btn {
  display: none;
}
