.recent-jots--container {
  position: fixed;
  left: 0; top: 0;
  background: transparent;
  height: 100vh;
  width: 100vw;
  display: none;
  align-items: center;
  justify-content: center;
}

.recent-jots--container.shown {
  display: flex;
}

.recent-jots--dialog {
  background: #333333;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0,0,0,0.2);
  width: 350px;
  padding: 8px 0;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.recent-jots--search {
  padding: 0 8px;
}

.recent-jots--search-input {
  background: transparent;
  border: 1px solid rgba(0,0,0,0.25);
  padding: 8px 16px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;

  &:focus {
    outline: none;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
  }
}

.recent-jots--list {
  padding-top: 8px;
}

.recent-jots--list-item {
  padding: 8px;
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}


.recent-jots--list-item--title {
  font-weight: 700;
  margin-bottom: 4px;
}

.recent-jots--list-item--body {
  overflow: hidden;
  white-space: nowrap;
}

.recent-jots--list-item--date-modified {
  color: #888888;
  font-size: 12px;
}
