@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "variables";
@import "layout";
@import "header";
@import "editor";
@import "recent";

body {
  background: $bgColor;
  height: 100vh;
  width: 100vw;
  font-size: 10pt;
  font-family: 'Work Sans', monospace;
}

span, div, input, select, textarea {
  color: $textColor;
}

.header, .rt-editor-input {
  width: 100%;
}
