@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&display=swap');

@import "variables";
@import "layout";
@import "header";
@import "editor";
@import "recent";
@import "toast";
@import "text";

body {
  background: $bgColor;
  height: 100vh;
  width: 100vw;
  font-size: 10pt;
  font-family: 'Recursive', monospace;
}

span, div, input, select, textarea {
  color: $textColor;
  font-family: 'Recursive', monospace;
}

.header, .rt-editor-input {
  width: 100%;
}
