@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "layout";
@import "header";
@import "editor";

body {
  background: #333333;
  height: 100vh;
  width: 100vw;
  font-size: 10pt;
  font-family: 'Cousine', monospace;
}

* {
  color: #ddd;
}

.header, .rt-editor-input {
  width: 100%;
}
