<div class="recent-jots--container" [class.shown]="shown">
  <div class="recent-jots--dialog">
    <div class="recent-jots--search">
      <input class="recent-jots--search-input" type="text" placeholder="Search...">
    </div>
    <div class="recent-jots--list">
      <div (click)="emitSelected(jot)" *ngFor="let jot of recentJots" class="recent-jots--list-item">
        <div class="recent-jots--list-item--title">
          {{ jot.meta.title }}
        </div>
        <div class="recent-jots--list-item--body">
          {{ jot.content.body | truncateTags }}
        </div>
        <div class="recent-jots--list-item--date-modified">
          {{ jot.meta.dateModified | relativeTime }}
        </div>
      </div>
    </div>
  </div>
</div>
