.header {
  height: 40px;
}

.header input {
  width: 100%;
  background: none;
  box-sizing: border-box;
  border: none;
  font-size: 20pt;
  border: 0;
  border-bottom: 1px solid transparent;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;

  &:focus {
    outline: none;
    border-color: #ddd;
  }
}
