.header {
  height: 40px;
}

.header input {
  width: 100%; height: 100%;
  background: none;
  box-sizing: border-box;
  border: none;
  font-size: 15pt;
  border: 0;
  border-bottom: 1px solid transparent;
  font-family: 'Cousine', monospace;
  font-weight: 700;

  &:focus {
    outline: none;
    border-color: #ddd;
  }
}
